/* body {
  font-family: 'Arial', arial, helvetica, sans-serif;
  padding-bottom: 50px;
}

h3 {
  margin-top: 50px;
}

li {
  margin: 25px 50px 0 0;
}

table {
  width: 1400px;
  margin: 0 50px 0 50px;
}

td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
} */

.hover-underline {
  text-decoration: none;
}

.hover-underline:hover {
  text-decoration: underline;
}

.radar {
  /* background-color: #000; */
  /* display: flex; */
  justify-content: center;
  overflow: visible;
  transform: scale(1);

}


@media (max-width: 1526px) {
  .radar {
    transform: scale(0.8);
    ;

  }
}

@media (max-width: 1300px) {
  .radar {
    transform: scale(0.7);
    ;

  }
}

/* #radar {
  object-fit: contain;
} */