.tech-form {
   margin: 100px 0;
}

.tech__item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 50px;
   margin-bottom: 20px;
}

.tech__title {
   background-color: #2FB4FF;
   padding: 10px 10px;
   flex: 1 1 auto;
   border-radius: 10px;
   color: #fff;
}

.scoreUp {
   margin-top: 30px;
}